<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutlookSecurityAddInAnalysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OutlookSecurityAddInAnalysis.Properties.Settings>
            <setting name="LegitTemplate" serializeAs="String">
                <value>C:\Users\Marcin\Dropbox\study\Specjalnościowa pracownia dyplomowa\praca dyplomowa\mail_templates\legit.oft</value>
            </setting>
            <setting name="SpamTemplate" serializeAs="String">
                <value>C:\Users\Marcin\Dropbox\study\Specjalnościowa pracownia dyplomowa\praca dyplomowa\mail_templates\spam.oft</value>
            </setting>
            <setting name="MaliciousTemplate" serializeAs="String">
                <value>C:\Users\Marcin\Dropbox\study\Specjalnościowa pracownia dyplomowa\praca dyplomowa\mail_templates\malicious.oft</value>
            </setting>
            <setting name="SimulationTemplate" serializeAs="String">
                <value>C:\Users\Marcin\Dropbox\study\Specjalnościowa pracownia dyplomowa\praca dyplomowa\mail_templates\simulation.oft</value>
            </setting>
            <setting name="NoAttachmentTemplate" serializeAs="String">
                <value>C:\Users\Marcin\Dropbox\study\Specjalnościowa pracownia dyplomowa\praca dyplomowa\mail_templates\noattachment.oft</value>
            </setting>
            <setting name="SendFromMailbox" serializeAs="String">
                <value>soc-pl@outlook.com</value>
            </setting>
            <setting name="RequestMailbox" serializeAs="String">
                <value>suspicious-box@outlook.com</value>
            </setting>
            <setting name="RequestMailboxDoneFolder" serializeAs="String">
                <value>Done</value>
            </setting>
        </OutlookSecurityAddInAnalysis.Properties.Settings>
    </userSettings>
</configuration>