<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutlookSecurityAddInAnalysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OutlookSecurityAddInAnalysis.Properties.Settings>
            <setting name="LegitTemplate" serializeAs="String">
                <value>F:\git\suspicious-box\mail_templates\pl\legit.oft</value>
            </setting>
            <setting name="SpamTemplate" serializeAs="String">
                <value>F:\git\suspicious-box\mail_templates\pl\spam.oft</value>
            </setting>
            <setting name="MaliciousTemplate" serializeAs="String">
                <value>F:\git\suspicious-box\mail_templates\pl\malicious.oft</value>
            </setting>
            <setting name="SimulationTemplate" serializeAs="String">
                <value>F:\git\suspicious-box\mail_templates\pl\simulation.oft</value>
            </setting>
            <setting name="NoAttachmentTemplate" serializeAs="String">
                <value>F:\git\suspicious-box\mail_templates\pl\noattachment.oft</value>
            </setting>
            <setting name="SendFromMailbox" serializeAs="String">
                <value>soc-pl@outlook.com</value>
            </setting>
            <setting name="RequestMailbox" serializeAs="String">
                <value>suspicious-box@outlook.com</value>
            </setting>
            <setting name="RequestMailboxDoneFolder" serializeAs="String">
                <value>Done</value>
            </setting>
            <setting name="HeaderWhitelist" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>received</string>
                        <string>trace</string>
                        <string>resent-date</string>
                        <string>resent-from</string>
                        <string>resent-sender</string>
                        <string>resent-to</string>
                        <string>resent-cc</string>
                        <string>resent-bcc</string>
                        <string>resent-msg-id</string>
                        <string>orig-date</string>
                        <string>from</string>
                        <string>sender</string>
                        <string>reply-to</string>
                        <string>to</string>
                        <string>cc</string>
                        <string>bcc</string>
                        <string>message-id</string>
                        <string>in-reply-to</string>
                        <string>references</string>
                        <string>subject</string>
                        <string>comments</string>
                        <string>keywords</string>
                        <string>optional-field</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TempMsgFileName" serializeAs="String">
                <value>OutlookSecurityAddInAnalysisHeaderMail.msg</value>
            </setting>
        </OutlookSecurityAddInAnalysis.Properties.Settings>
    </userSettings>
</configuration>